<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css.css">
    <title>Registracija</title>
</head>


<body>
    <section class="container" align="center">
        <div class="login">
            <h1 align="center"><div class="h1">PAUP <div class="h12">projekt</h1>
            <form method="post" action="registracija.html">
                <p>Ispunite podatke za registraciju</p>
                <p><input type="text" name="login" value="" placeholder="Ime"></p>
                <p><input type="text" name="password" value="" placeholder="Prezime"></p>
                <p><input type="text" name="password" value="" placeholder="Korisničko ime"></p>
                <p><input type="text" name="password" value="" placeholder="Vaša e-mail adresa"></p>
                <p><input type="password" name="password" value="" placeholder="Lozinka"></p>
                <p><input type="password" name="password" value="" placeholder="Ponovite lozinku"></p>

                <p class="submit"><input type="submit" name="commit" value="Registracija"></p>
            </form>
        </div>
        <div class="login">

            <a href="login.html">Prijava  </a>
            <a href="zab_lozinka.html">Zaboravio lozinku  </a>
            <a href="registracija.html">Registracija  </a>

        </div>
    </section>

</body>

</html>
